<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml"-->
<!--      xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="utf-8" />-->
<!--    <title>Spring Boot + JPA + Datatables</title>-->
<!--&lt;!&ndash;    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">&ndash;&gt;-->
<!--&lt;!&ndash;    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>&ndash;&gt;-->
<!--&lt;!&ndash;    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>&ndash;&gt;-->
<!--&lt;!&ndash;    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">&ndash;&gt;-->
<!--&lt;!&ndash;    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>&ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">-->
<!--    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">-->

<!--</head>-->

<!--<body>-->

<!--<div class="container">-->

<!--    <div class="row mt-5">-->
<!--        <div class="col-12">-->
<!--            <table id="patienttable" class="table table-striped table-bordered">-->

<!--                &lt;!&ndash; Header Table &ndash;&gt;-->
<!--                <thead>-->
<!--                <tr>-->
<!--                    <th>Id</th>-->
<!--                    <th>Last Name</th>-->
<!--                    <th>First Name</th>-->
<!--                    <th>Date Of Birth</th>-->
<!--                    <th>Next of Kin</th>-->
<!--                    <th>Phone Number</th>-->
<!--                    <th>Gender</th>-->
<!--                    <th>Age</th>-->
<!--                    <th>Blood Group</th>-->
<!--                    <th>Department</th>-->
<!--                    <th>Doctor's Name</th>-->
<!--                    <th>Complains</th>-->
<!--                    <th>Appointment Date</th>-->
<!--                    <th>Created By</th>-->
<!--                    <th>Created Date</th>-->
<!--                    <th>Modified By</th>-->
<!--                    <th>Modified Date</th>-->
<!--                    <th>Add</th>-->
<!--                    <th>Edit</th>-->
<!--                    <th>Delete</th>-->
<!--                </tr>-->
<!--                </thead>-->
<!--                &lt;!&ndash; Footer Table &ndash;&gt;-->
<!--                <tfoot>-->
<!--                <tr>-->
<!--                    <th>Id</th>-->
<!--                    <th>Last Name</th>-->
<!--                    <th>First Name</th>-->
<!--                    <th>Date Of Birth</th>-->
<!--                    <th>Next of Kin</th>-->
<!--                    <th>Phone Number</th>-->
<!--                    <th>Gender</th>-->
<!--                    <th>Age</th>-->
<!--                    <th>Blood Group</th>-->
<!--                    <th>Department</th>-->
<!--                    <th>Doctor's Name</th>-->
<!--                    <th>Complains</th>-->
<!--                    <th>Appointment Date</th>-->
<!--                    <th>Created By</th>-->
<!--                    <th>Created Date</th>-->
<!--                    <th>Modified By</th>-->
<!--                    <th>Modified Date</th>-->
<!--                    <th>Add</th>-->
<!--                    <th>Edit</th>-->
<!--                    <th>Delete</th>-->
<!--                </tr>-->
<!--                </tfoot>-->
<!--            </table>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>-->
<!--    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>-->
<!--    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>-->
<!--    <script src="/js/datatable.js"></script>-->

<!--</body>-->
<!--</html>-->